.userContainer{
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 1rem;
}



.user{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.userData{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}