.SeasonDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}

.icon-left{
    position: absolute;
    top: 10px;
    left: 10px

}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;


}

.winter{
    background-color: aliceblue;

}
.summer{
    background-color: orange;

}

.SeasonDisplay   .snowflake{
    color: blue;
    
}

.SeasonDisplay .sun {
    color: red
}